<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayCard</title>
    <link rel="stylesheet" href="../../assets/css/attention.css">
    <link rel="stylesheet" href="../../assets/css/pay.css"
</head>
<body>
<div class="wrap">
    <div class="card-container">
        <div class="card-box">
            <img src="../../assets/images/creditcard.png"><br>
            <div class="timer">
                (시간)타이머가 끝나면 주문이 취소됨ㅇㅇ
                <!-- 시간초가 지나갈동안 결제가 안되면 메인으로 돌아감 -->
                <!-- 결제가 완료되면 payresult로 감 -->
            </div>
            <!-- timer -->
            
            <div>
                카드를 여기다가 넣으라고
            </div>
            <!-- 안내메세지 -->
        </div>
        <!-- card-box -->
    </div>
    <!-- card-container -->
</div>
<!-- wrap -->    


</body>
</html>