<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayResult</title>
    <link rel="stylesheet" href="../../assets/css/attention.css">
    <link rel="stylesheet" href="../../assets/css/pay.css">
</head>
<body>
<div class="wrap">
    <div class="card-container">
        <div class="card-box">
            <div class="payMsg">
                <div class="finMsg">
                    결제 완료됨ㅇㅇ
                </div>
                <!-- finMsg -->
                <br>
                <div class="pointMsg">
                    포인트가 적립됨ㅇㅇ (보유포인트 : 1000)
                </div>
                <!-- pointMsg -->
            </div>
            <!-- payMsg -->
            <div class="timer">
                (시간)<br>
                타이머가 끝나면 처음으로 돌아가ㅇㅇ
            </div>
            <!-- timer -->
            <a class="goHome" href="">처음화면으로 돌아가기</a>
        </div>
        <!-- card-box -->
    </div>
    <!-- card-container -->
</div>
<!-- wrap -->
</body>
</html>