<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문페이지</title>
    <link rel="stylesheet" href="../../assets/css/attention.css">
</head>
<body>
    <div class="wrap">
        <header>
            <a href="" class="home"><img src="../../assets/images/home_icon.png" alt=""></a>
            <ul>
                <li><a href="#">커피</a></li>
                <li><a href="#">논커피</a></li>
                <li><a href="#">밀크쉐이크</a></li>
                <li><a href="#">스무디/프라페</a></li>
                <li><a href="#">디저트</a></li>
            </ul>
        </header>
    </div>
</body>
</html>